<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "users/info", user: @user %>
      <%= render "books/new", book: @book %>
    </div>
    
    
    <div class="col-md-8 offset-md-1">
      <h3>Books</h3>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <th>
                <%= link_to user_path(book.user) do %>
                  <%= image_tag book.user.get_profile_image("100x100") %>
                <% end %>
              </th>
              
              <th>
                <%= link_to book_path(book) do %>
                  <%= book.title %>
                <% end %>
              </th>
              <th>
                <%= book.body %>
              </th>
              
              <% if book.user == current_user %>
                <th>
                  <%= link_to "Edit", edit_book_path(book), class: "btn btn-sm btn-success" %>
                </th>
                <th>
                  <%= link_to "Destroy", book_path(book), method: :delete, class: "btn btn-sm btn-danger", "data-confirm"=>"Are you sure?" %>
                </th>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>